.app {
  min-height: 100dvh;
  width: min(1200px, 100%);
  margin: auto;
}

/* onboarding */

.continue {
  color: var(--fg);
  background-color: transparent;
  padding: 12px;
  margin-top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: transparent;
  border-radius: 8px;
  outline: none;

  transition: background-color 0.4s ease;
  animation: fadeLeft 0.3s ease-in forwards;
}

.continue:hover {
  background-color: var(--gray1);
}

.continue:focus {
  background-color: var(--gray1);
}

/* header */

.header {
  width: 100%;
  padding: 36px 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* menu qué pereza tengo */

.menu {
  position: relative;
  border-radius: 6px;
}

.toggle {
  color: inherit;
  background-color: transparent;
  padding: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: transparent;
  border-radius: inherit;
}

.toggle:hover {
  background-color: var(--gray2);
}

.menu-ul {
  background-color: var(--gray0);
  width: max-content;
  padding: 4px;

  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 12px;

  display: flex;
  flex-direction: column;
  gap: 2px;

  border: 1px solid var(--gray4);
  border-radius: 6px;
  box-shadow: var(--shadow);

  z-index: 1;
  user-select: none;
  animation: fadeDown 0.15s ease-in forwards;
}

.menu-li {
  position: relative;
}

.menu-button {
  color: var(--fg);
  background-color: transparent;
  width: 100%;
  padding: 6px 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  border: transparent;
  border-radius: 6px;
  text-align: start;
  font-size: 12.5px;
}

.menu-button:hover {
  background-color: var(--gray3);
}

kbd {
  background-color: var(--kbd);
  min-width: 16px;
  height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;

  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
}

/* modal */

.modal {
  color: var(--fg);
  background-color: var(--modalbg);
  width: min(330px, 100%);
  position: fixed;

  margin: auto;
  padding: 2.4rem clamp(1.8rem, 8vw, 4rem);

  border: 1px solid var(--gray3);
  border-radius: 12px;

  outline: none;
  box-shadow: var(--shadow);
  backdrop-filter: blur(10px);

  overflow: hidden;
  user-select: none;
  animation: fadeUp 0.2s ease-in forwards;
}

.modal::backdrop {
  backdrop-filter: blur(1px);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.modal-content p {
  font-size: 20px;
  font-weight: 600;

  text-align: center;
  text-wrap: pretty;
}

.modal-content p:nth-child(2) {
  font-size: 14px;
}

.modal-accept {
  color: #f0f0f0;
  background-color: var(--danger);
  width: min(200px, 100%);

  margin: auto;
  margin-top: 30px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-weight: 600;

  border: transparent;
  border-radius: 8px;

  transition: background-color 0.2s ease;
}

.modal-accept:hover {
  background-color: #ec0e0e;
}

.modal-close {
  color: var(--fg);
  background-color: transparent;
  padding: 4px;

  position: absolute;
  top: 12px;
  right: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: transparent;
  border-radius: 100%;

  transition: background-color 0.2s ease;
}

.modal-close:hover {
  background-color: var(--gray4);
}

/* main */

main {
  max-width: 920px;
  margin: 0 auto;

  min-height: 100vh;
  padding: clamp(20px, 10vw, 80px) 32px;

  animation: fadeIn 0.3s ease-in forwards;
}

main::after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, 95%, var(--bg));

  position: fixed;
  left: 0;
  bottom: 0;

  z-index: 1;
  user-select: none;
  pointer-events: none;
}

main.fade-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}

article {
  position: relative;
}

article:not(:first-of-type) {
  margin-top: 40px;
}

article:not(:first-of-type).fade-out {
  animation: fadeOut 0.3s ease-in forwards;
}

h2 {
  color: var(--gray7);
  margin-left: 12px;
}

#textarea-root:hover {
  background-color: var(--gray1);
}

/* thoughts */

.divider {
  background-color: var(--gray4);
  width: 97%;
  height: 1px;

  border: 0;
  margin: auto;
  margin-top: 16px;
}

.thoughts {
  height: auto;
}

.thought {
  position: relative;
  animation: fadeIn 0.3s ease-in forwards;
}

.thought.onboarding {
  animation: fadeIn 0.3s ease-in forwards;
}

.thought.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

.thought:hover textarea {
  color: var(--fg);
  background-color: var(--gray1);
}

.thought:hover .timestamp {
  color: var(--fg);
}

.thought textarea {
  cursor: default;
}

textarea {
  color: var(--gray6);
  background-color: transparent;
  width: 100%;

  display: block;
  position: relative;

  padding: 12px;
  margin-top: 8px;

  border: none;
  border-radius: 8px;

  font-size: 17px;
  line-height: 24px;
  text-wrap: pretty;

  resize: none;
  outline: none;
  overflow-y: hidden;
  transition: background-color 0.4s ease;
}

textarea::placeholder {
  color: var(--gray5);
  white-space: nowrap;
  overflow: hidden;
}

textarea:focus {
  color: var(--fg);
  background-color: var(--gray1);
}

textarea:focus + .timestamp {
  color: var(--fg);
}

.timestamp {
  color: var(--gray5);
  position: absolute;
  top: 50%;
  left: -86px;
  right: unset;

  padding: 8px;
  font-size: 12px;

  cursor: default;
  transform: translateY(-50%);
  transition: color 0.4s ease;
}

.delete {
  color: var(--gray5);
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: unset;
  right: -78px;

  padding: 8px;
  font-size: 12px;
  border: transparent;

  transform: translateY(-50%);
  transition: color 0.4s ease;
}

.delete:hover {
  color: var(--danger);
}

.delete:focus-visible {
  outline: 1.5px solid var(--danger);
  border-radius: 6px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (width < 1024px) {
  .timestamp {
    left: unset;
    top: unset;
    bottom: 0;

    padding: 8px 12px;
    transform: translateY(0%);
  }

  .thought:hover .timestamp {
    color: var(--gray5);
  }

  .thoughts textarea {
    padding-bottom: 40px;
  }

  .delete {
    display: none;
    user-select: none;
    pointer-events: none;
    opacity: 0;
  }
}
