.app {
  min-height: 100vh;
  width: min(1200px, 100%);
  margin: auto;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 36px;
}

/* menu qué pereza tengo */

.menu {
  position: relative;
  border-radius: 6px;
  transition: background-color 0.4s ease;
}

.menu:hover .toggle {
  background-color: rgb(255, 255, 255, 0.1);
}

.menu:hover .dropdown-wrapper {
  pointer-events: auto;
  user-select: auto;
  opacity: 1;
}

.toggle {
  background-color: transparent;

  border: transparent;
  border-radius: inherit;
  padding: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.dropdown-wrapper {
  position: absolute;
  top: 100%;
  right: 0;

  padding-top: 12px;

  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.menu-ul {
  background-color: rgb(255, 255, 255, 0.07);
  width: max-content;
  padding: 4px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  border: 1px solid #1f1f1f;
  border-radius: 8px;
}

.menu-li {
  position: relative;
}

.svg-logo {
  margin-left: 8px;
}

.menu-divider {
  background-color: #1f1f1f;
  width: 100%;
  height: 1px;
  border: 0;
}

.menu-button {
  background-color: transparent;
  width: 100%;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  border: transparent;
  border-radius: 4px;
  text-align: start;
  font-size: 12px;

  transition: background-color 0.4s ease;
}

.menu-button:hover {
  background-color: rgb(255, 255, 255, 0.05);
}

/* main */

main {
  max-width: 970px;
  margin: 0 auto;
  padding: 90px 36px 160px;
}

main::after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, 90%, var(--bg));

  position: fixed;
  left: 0;
  bottom: 0;

  z-index: 1;
  pointer-events: none;
  user-select: none;
}

article {
  position: relative;
}

article:not(:first-of-type) {
  margin-top: 40px;
}

h2 {
  margin-left: 12px;
}

.divider {
  background-color: #1f1f1f;
  width: 97%;
  margin: auto;
  height: 1px;

  position: relative;
  border: 0;
  margin-top: 16px;
}

.thoughts {
  height: auto;
}

.thought {
  position: relative;
}

.thought:hover textarea {
  background-color: rgb(255, 255, 255, 0.07);
  color: #fff;
}

.thought:hover span {
  color: #fff;
}

.thought textarea {
  cursor: default;
}

textarea {
  color: #d1d1d1;
  background-color: transparent;
  width: 100%;

  display: block;
  position: relative;

  border: none;
  resize: none;
  outline: none;
  border-radius: 8px;

  padding: 12px;
  margin-top: 12px;

  font-size: 17px;
  line-height: 24px;
  text-wrap: pretty;

  overflow-y: hidden;
  transition: background-color 0.4s ease, color 0.4s ease;
}

#textarea-root:hover {
  background-color: rgb(255, 255, 255, 0.07);
}

textarea::placeholder {
  color: #777;
}

textarea:focus {
  background-color: rgb(255, 255, 255, 0.07);
  color: #fff;
}

textarea:focus + .timestamp {
  color: #fff;
}

.timestamp {
  color: #777;
  position: absolute;
  top: 50%;
  left: -80px;
  right: unset;

  cursor: default;
  padding: 8px;
  font-size: 12px;
  transform: translateY(-50%);
  transition: color 0.4s ease;
}

.delete {
  color: #777;
  background-color: transparent;
  border: transparent;
  position: absolute;
  top: 50%;
  left: unset;
  right: -80px;

  padding: 8px;
  font-size: 12px;
  transform: translateY(-50%);
  transition: color 0.4s ease;
}

.delete:hover {
  color: #fc3636;
}

@media (width < 1024px) {
  .timestamp {
    left: unset;
    top: unset;
    bottom: 0;

    padding: 8px 12px;
    backdrop-filter: blur(8px);
    transform: translateY(0%);
  }

  .thought:hover .timestamp {
    color: #777;
  }

  .thoughts textarea {
    padding-bottom: 40px;
  }

  .delete {
    display: none;
    user-select: none;
    pointer-events: none;
    opacity: 0;
  }
}
