* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

::selection {
  color: var(--bg);
  background-color: var(--fg);
}

body {
  color: var(--fg);
  background-color: var(--bg);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --bg: #040404;
  --fg: #fff;
  --gray0: #101010; /* bg dropdown */
  --gray1: #151515; /* hover textarea */
  --gray2: #161616; /* hover hamburger */
  --gray3: #1a1a1a; /* hover button dropdown, divider */
  --gray4: #222222; /* moda, kbd */
  --gray5: #666666; /* time and placeholder */
  --gray6: #e2e2e2; /* text textarea */
  --gray7: #f5f5f5; /* h2 */
  --danger: #ff2828;
  --modalbg: rgba(0, 0, 0, 0.6);
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[data-theme='light'] {
  --bg: #f0f0f0;
  --fg: #0f0f0f;
  --gray0: #f0f0f0; /* bg dropdown */
  --gray1: #e9e9e9; /* hover textarea */
  --gray2: #e8e8e8; /* hover hamburger */
  --gray3: #e7e7e7; /* hover button dropdown, divider */
  --gray4: #dcdcdc; /* modal, kbd */
  --gray5: #a6a6a6; /* time and placeholder */
  --gray6: #454545; /* text textarea */
  --gray7: #1f1f1f; /* h2 */
  --modalbg: rgba(255, 255, 255, 0.3);
}
