* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

::selection {
  color: var(--bg);
  background-color: var(--fg);
}

body {
  color: var(--fg);
  background-color: var(--bg);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

:root {
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --bg: #000;
  --fg: #fff;
  --gray9: #f8f9fa;
  --gray8: #f4f5f6;
  --gray7: #e9ecef;
  --gray6: #dee2e6;
  --gray5: #ced4da;
  --gray4: #adb5bd;
  --gray3: #868e96;
  --gray2: #202021;
  --gray1: #111;
  --gray0: #0b0a0f;
  --menu-bg: #191919;
  --highlight: #191919;
  --shadow-small: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --fade-top-gradient: linear-gradient(var(--bg), 80%, rgba(0, 0, 0, 0.1));
  --fade-bottom-gradient: linear-gradient(rgba(0, 0, 0, 0.1), 80%, var(--bg));

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
